.examples-header {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
        margin-bottom: 30px;
        color: inherit;
        background-color: #EEE;

        h1 {
            font-size: 63px;
        }

        .h1, .h2, .h3, h1, h2, h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

    .container {
        width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
